@using TeHagoLaFila.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="btn-group" role="group" aria-label="Toolbar with button groups">
    <a class="btn btn-success" asp-action="ChangePassword">Password</a>
    @if (hasExternalLogins)
    {
        <a class="btn btn-success" asp-action="ExternalLogins">External logins</a>
    }
    <a class="btn btn-success" asp-action="TwoFactorAuthentication">Two-factor authentication</a>
</div>
    


