@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" sizes="76x76" href="~/images/icono.jpg">
    <link rel="icon" type="image" href="~/images/icono.jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewData["Title"] - TeHagoLaFila</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <!-- CSS Files -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/light-bootstrap-dashboard.css?v=2.0.1" rel="stylesheet" />
</head>
<body class="my-login-page">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center align-items-center h-100">
                <div class="card-wrapper">
                    <div class="brand">
                        <img src="~/images/logo.jpg">
                    </div>
                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title">Forgot Password</h4>
                            <form asp-action="ForgotPassword" method="post">

                                <div class="form-group">
                                    <label asp-for="Email">E-Mail Address</label>
                                    <input asp-for="Email" type="email" class="form-control" value="" required autofocus>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <div class="form-text text-muted">
                                        By clicking "Reset Password" we will send a password reset link
                                    </div>
                                </div>
                                <div class="form-group no-margin">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Reset Password
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
