@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h4></h4>

<p>Aun estamos en fase de desarrollo, esto es solo una vista para probar si el About del controlador Home funciona.</p>
