@model IEnumerable<TeHagoLaFila.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.EmpleadoID</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmpleadoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmpleadoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmpleadoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
