@model IEnumerable<TeHagoLaFila.Models.CategoriaNegocio>

@{
    ViewData["Title"] = "Index";
}

    <div class="card">
        <br />
        <div class="row">
            @foreach (var item in Model)
            {
                var imageRoute = "/images/categoriaNegocio/iconos/" + item.Nombre + ".png";
                <div class='col col-xs-6'>
                    <div class="col col-xs-3">
                        <center>
                            <a asp-controller="Negocio" asp-action="Index" asp-route-id="@item.CategoriaNegocioID">
                                <img width="250" height="250" class="rounded-circle border border-dark" src="@imageRoute">
                                <h4>@Html.DisplayFor(modelItem => item.Nombre)</h4>
                            </a>
                        </center>
                    </div>
                </div>
            }
        </div>
        <br />
    </div>
